<!-- Cards -->
<div class="cards col-sm-6 col-sm-offset-6">
	<div class="picture" data-toggle="modal" data-target="#<%= user.id %>">
		<%= image_tag "userpicture", class: "picture-img" %>
		<div id="picture-name">
			<%= user.fname %> <%= user.lname %>
		</div>
	</div>
  <div class="circle-option col-sm-4"></div>
  <div class="circle-option col-sm-4"></div>
</div>