<div class="cards col-md-6 col-md-offset-6">
	<div class="picture" data-toggle="modal" data-target="#showModal">
		<%= image_tag "userpicture", class: "picture-img" %>
	</div>
  <div class="circle-option col-sm-4"></div>
  <div class="circle-option col-sm-4"></div>
</div>