<!-- Conversations -->
<div class="conversations col-sm-3">
  <div class="conversations-title">
    <h3>{{ test }}</h3>
    <h3 class="text-center">Matches</h3>
  </div>
  <div class="conversation">

    
        <a href="#" ng-repeat="friend in friends" ng-show="friends.length >= 1">
          <div class="row">
            <img src="{{friend.profile_pic_thumb}}" class='pull-left img-rounded'>
            <div class="row-details pull-left">
              <h4>{{friend.dog_name}} &amp; {{friend.fname}}</h4>
              <p>{{friend.bio | limitTo:50 }}</p>
            </div>
          </div>
        </a>
     
    
      <h4 class="text-center" ng-show="friends.length < 1">You don't have any matches yet!</h4>
    
  </div>
</div>
