<div class="col-sm-4">
	<div class="message-widget">
		<div class="messages">
			<ul class="activity-stream">
	
				<li class="activity">
					<div class="activity-row">
						<div class="content-text">Hey! Let's chat about our dogs.</div>
					</div>
					<div class="activity-row">
						<div class="timestamp"></div>
					</div>
				</li>
				<li class="activity">
					<div class="activity-row">
						<div class="content-text">Hey! Let's chat about our dogs.</div>
					</div>
					<div class="activity-row">
						<div class="timestamp"></div>
					</div>
				</li>
	
			</ul>
		</div>
		<div class="message-input">
			<input type="text" value="" placeholder="Message" class="message-input-field">
			<button class="send-message-btn">Send</button>
	 	</div>
	</div>
</div>