<div class="col-sm-4" ng-show="friends.length >= 1">

	<div class="message-widget">
		<div class="messages">
			
			<ul class="activity-stream">
				
				<li class="activity" ng-repeat="message in messages">
					<div class="activity-row">
						<div class="content-text">{{message.body}}</div>
					</div>
					<div class="activity-row">
						<div class="timestamp">{{message.sender_id}}</div>
						<div class="timestamp"></div>
					</div>
				</li>

			</ul>

		</div>
		<form ng-submit="sendMessage(friend.id, message_body)" class="message-input">
			<input type="text" value="" placeholder="Message" class="message-input-field" ng-model="message_body">
			<button class="send-message-btn">Send</button>
	 	</form>
	</div>
</div>