<!-- Show Modal -->
<div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body clearfix">
        <div class="picture pull-left">
          <%= image_tag "userpicture", class: "picture-img" %>
        </div>
        <div class="bio">
          <h3 class="bio-name">Dakota</h3>
          <p class="bio-description">Hi I’m Lacy and this is my puppy Dakota. Dakota is the friendliest pitbull you’ll ever meet and she and I want to meet some other local pups. Send me a like and send me a message!</p>
        </div>
      </div>
    </div>
  </div>
</div>