<%= render 'partials/nav' %>
<!-- Dash Page -->
<div class="dash" ng-controller="UserCtrl">
  
  <!-- profileModal partial -->
  <%= render partial: 'partials/profileModal' %>

    <!-- Cards -->
    <div class="cards col-sm-offset-5">
      <div class="people">
        <div class="person" ng-repeat="user in users">
          
          <div class="card" data-toggle="modal" ng-click="selectUser(user)" data-target="#profileModal" bg-image="{{user.profile_pic_large}}">
            <div class="card-name">{{user.dog_name}} &amp; {{user.fname}}</div>
          </div>

          <div class="controls">
            <div class="button no" ng-controller="RejectionCtrl as rejection">
              <form ng-submit="rejection.add(user.id)">
                <input type="submit" value="" class="trigger" ng-mousedown="triggerAnimate('reject')">
              </form>
            </div>
            <div class="button yes" ng-controller="LikeCtrl as like">
              <form ng-submit="like.add(user.id)">
                <input type="submit" value="" class="trigger" ng-mousedown="triggerAnimate('like')">
              </form>
            </div>
          </div>

        </div> <!-- end of .person -->
      </div> <!-- end of .people -->
    </div> <!-- end of .cards -->
</div>


