<%= render 'partials/nav' %>
<!-- Dash Page -->
<div class="dash" ng-controller="UserCtrl">
    <!-- Cards -->
    <div class="cards">
      <div class="people">
        <div class="person" ng-repeat="user in users">
          
          <!-- profileModal partial -->
          <%= render partial: 'partials/profileModal' %>
          
          <div class="card" data-toggle="modal" data-target="#{{user.id}}">
            <img src="{{user.profile_pic_large}}">
          </div>

          <div class="controls">
            <div class="button no" ng-controller="RejectionCtrl as rejection">
              <form ng-submit="rejection.add(user.id)">
                <input type="submit" value="" class="trigger" ng-mousedown="triggerAnimate('reject')">
              </form>
            </div>
            <div class="button yes" ng-controller="LikeCtrl as like">
              <form ng-submit="like.add(user.id)">
                <input type="submit" value="" class="trigger" ng-mousedown="triggerAnimate('like')">
              </form>
            </div>
          </div>

        </div> <!-- end of .person -->
      </div> <!-- end of .people -->
    </div> <!-- end of .cards -->
</div>


