<!-- Profile Page -->
<div class="profile">
	<%= render 'partials/conversations' %>
	<%= link_to "Back to Fetching!", users_path, class: 'back-btn' %>
	
	<div class="">
		<div class="bio col-sm-4">
			<%= image_tag 'User Image' %>
			<h3 class="bio-name">Dakota</h3>
			<p class="bio-description">Hi I’m Lacy and this is my puppy Dakota. Dakota is the friendliest pitbull you’ll ever meet and she and I want to meet some other local pups. Send me a like and send me a message!</p>
		</div>
		
		<div class="col-sm-4">
			<div class="message-widget">
				<div class="messages">
					<ul class="activity-stream">
			
						<li class="activity">
							<div class="activity-row">
								<div class="content-text">Hey! Let's chat about our dogs.</div>
							</div>
							<div class="activity-row">
								<div class="timestamp"></div>
							</div>
						</li>
						<li class="activity">
							<div class="activity-row">
								<div class="content-text">Hey! Let's chat about our dogs.</div>
							</div>
							<div class="activity-row">
								<div class="timestamp"></div>
							</div>
						</li>
			
					</ul>
				</div>
				<div class="message-input">
					<input type="text" value="" placeholder="Message" class="message-input-field">
					<button class="send-message-btn">Send</button>
			 	</div>
			</div>
		</div>
	</div>
</div>