<%= render 'partials/loginSignupModals' %>

<!-- Welcome Page -->
<% if current_user %>
	<%= link_to "Go Fetch", users_path %>
<% else %>
	<a href="#" class="nav-links" data-toggle="modal" data-target="#loginModal">Log in</a>
	<a href="#" class="nav-links" data-toggle="modal" data-target="#signupModal">Sign up</a>
<% end %>
<div class="tight-container clearfix text-center">
	<div class="column half headline">
		<div class="text-center">
			<%= image_tag 'Group.png', class: 'logo' %>
			<%= image_tag 'Fetch.png', class: 'logo-name' %>
			<h2>Are you #DTF(etch)?</h2>
		</div>
		
		<a href="#" class="btn-primary signup-button btn-fetch-primary btn btn-lg col-sm-4 pull-right" data-toggle="modal" data-target="#signupModal">Sign up</a>
	</div>

	<div class="column half picture-container">
		<div class="picture center-block"></div>
		<div class="circle-option col-sm-4"></div>
		<div class="circle-option col-sm-4"></div>
	</div>
</div>