<!-- Welcome Page -->
<div class="welcome" ng-controller="WelcomeCtrl">
<%= render 'partials/loginSignupModals' %>

	<div class="tight-container clearfix text-center">
		<div class="column half headline">
			<div class="row headline-logo">
				<%= image_tag 'Group.png', class: 'logo' %>
				<%= image_tag 'Fetch.png', class: 'logo-name' %>
				<h2>Are you <span>#DTFetch?</span></h2>
			</div>
			
			<div class="row">
				<a href="#" class="btn-primary signup-button btn-fetch-primary btn btn-lg col-sm-4" data-toggle="modal" data-target="#signupModal">Sign up</a>
				<a href="#" class="btn-primary signup-button btn-fetch-primary btn btn-lg col-sm-4" data-toggle="modal" data-target="#loginModal">Log In</a>
			</div>
		</div>
	
		<div class="column half">
			<!-- Cards -->
			<div class="cards col-sm-6 col-sm-offset-1">
			  <div class="people center-block">
			    
			    <div class="person">
			    	<div class="card" bg-image="http://www.freestockphotos.biz/pictures/14/14669/dog.jpg" style="background: url() center center no-repeat; background-size: cover;"></div>
			    </div>
			    <div class="person">
			    	<div class="card" bg-image="http://www.liveeco.co.za/wp-content/uploads/2013/02/girl-with-dog-2.jpg" style="background: url() center center no-repeat; background-size: cover;"></div>
			    </div>
			    <div class="person">
			    	<div class="card" bg-image="http://www.dog-obedience-training-review.com/sites/default/files/girl-puppy-names.jpg" style="background: url() center center no-repeat; background-size: cover;"></div>
			    </div>
	
				  <div class="person">
				  	<div class="card">
				  		<br />
				  		<br />
				  		<p>Let's get to Fetching!</p>
				  		<div id="welcome-signup-card">
				  			<a href="#" class="btn-primary signup-button btn col-sm-4 col-sm-offset-2" data-toggle="modal" data-target="#loginModal">Log in</a>
				  			<a href="#" class="btn-primary signup-button btn-fetch-primary btn col-sm-4" data-toggle="modal" data-target="#signupModal">Sign up</a>
				  		</div>
				  	</div>
				  </div>
	
			  </div>
			  <div class="controls">
			    <div class="button no">
			      <div class="trigger" ng-mousedown="triggerAnimate('reject')"></div>
			    </div>
			    <div class="button yes">
			      <div class="trigger" ng-mousedown="triggerAnimate('like')"></div>
			    </div>
			  </div>

			</div>
		</div>


	</div>
</div>