<%= render 'partials/nav' %>

<!-- Matches -->
<div class="matches" ng-controller="MatchCtrl">
  <div class="profile">
		<%= render 'partials/conversations' %>
		
		<div class="profile-bio-messenger clearfix">
			<%= render 'partials/friendshow' %>
			<%= render 'partials/messenger' %>
		</div>
	</div>
</div>