/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

// Open Sans
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,800,400,600);

/* Global Variables
==================== */
$primary-color: #FF5555;
$bg-color: #F8F8F8;
$gray-object-color: #F3F3F3;
$main-text-color: #000;
$gray-text-color: #d1d1d1;
$border-gray: 1px solid $gray-object-color;
$border-radius: 2px;

/* Global Properties
===================== */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, 
body, 
.wrapper,
.dash { height:100%; }

html { font-size: 100%; }
body { 
	background-color: $bg-color; 
	font-family: 'Open Sans';
}

.edit { margin-top: 100px; }
.matches { margin-top: 50px; }

.btn-fetch-primary { 
	background-color: $primary-color; 
	border: none;
	&:hover { background-color: darken($primary-color, 10%); }
}

/* Global Nav 
=============== */
.navbar-default { 
	background-color: #fff; 
	border-color: #fff; 
	.nav-logo { width: 25px; }
	.nav-logo-name { width: 75px; }
	.navbar-nav > li > a { font-size: 15px; }
	.navbar-brand { padding: 12px 15px; }
}
@media (min-width: 40rem) {
	.container-fluid { padding-right: 85px; padding-left: 85px; }
}

/* Global Cards
=============== */
.cards { 
	overflow: hidden;
	width: 253px;
	height: 400px;
	position: absolute;
	margin: auto; left: 0; right: 0;
}
.card {
	width: 250px;
	height: 265px;
	background: url() no-repeat center center;
	background-size: cover;
}
.people {
	position: relative;
	margin: 0 auto;
}
.person {
	position: absolute;
	// if an element is not the first person
	&:not(:nth-child(1)) { 
		pointer-events: none; 
		.controls { display: none; }
	}
	&:nth-child(1) .card { z-index: 5; }
	&:nth-child(2) .card { 
		z-index: 4;
		top: 7px;
		-webkit-transform: scale(0.98);
		transform: scale(0.98);
	}
	&:nth-child(3) .card {
		z-index: 3;
		top: 14px;
		-webkit-transform: scale(0.96);
		transform: scale(0.96);
	}
	&:nth-child(n+4) .card {
		z-index: 2;
		-webkit-transform: scale(.7);
		transform: scale(.7);
	}
}
.card {
	overflow: hidden;
	position: relative;
	background-color: #fff;
	cursor: pointer;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2);
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	// border: 1px solid  rgba(0,0,0,.2);
	-webkit-transition: all .1s linear;
	transition: all .1s linear;	
	&:before {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
	}
	img {
		width: 105%;
		background-color: white;
	}
	span {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: white;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		line-height: 30px;
		color: #555;
	}
}

// Card Controls
.controls {
	position: relative;
	margin: 15px auto 0;
	width: 250px;

	.button {
		width: 72px; 
		height: 72px;
		background: #eee;
		position: absolute;
		top: 5px;
		border-radius: 50%;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		&:hover { 
			-webkit-transition: all .2s ease;
			transition: all .2s ease;
			-webkit-transform: scale(1.05); 
			transform: scale(1.05);
		}
	}

	.trigger {
		outline: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .05s linear;
    transition: all .05s linear;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer; 
		width: 72px; 
		height: 72px;
		position: absolute;
		border: 5px solid rgba(0,0,0,.05);
		border-radius: 50%;
		background-color: #fff;

	  &:active {
	  	-webkit-transform: translateY(-50%) scale(0.75);
	  	transform: translateY(-50%) scale(0.75);
	  	-webkit-transition: all .05s linear;
	  	transition: all .05s linear;
	  }
  	&:before {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	-webkit-transform: translateY(-50%) scale(-50%);
	  	transform: translateY(-50%) scale(-50%);
  	}
	}

	.no { left: 38px; }
	.no .trigger { 
		background-size: 93px;
		background-image: url('x.svg'); 
		background-position: -14px -12px;;
	}
	.yes { right: 38px; }
	.yes .trigger { 
		left: 0;
		background-image: url('heart.svg');
		background-repeat: no-repeat;
		background-size: 36px;
		background-position: 14.5px 17px;
	}
}

/* Animations
================ */

@-webkit-keyframes yes {
  0% {
    -webkit-transform: scale(1) rotateZ(0deg);
    transform: scale(1) rotateZ(0deg);
    left: 0;
  }
  30% { 
    -webkit-transform: scale(1.05) rotateZ(0deg);
    transform: scale(1.05) rotateZ(0deg);
    left: 0;
  }
  100% {
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    left: 400px;
  }
}

.animateYes {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: yes 0.6s linear;
  animation: yes 0.6s linear;
	&:before {
		-webkit-transform: rotateZ(-35deg);
	  transform: rotateZ(-35deg);
	  background: url(http://i.imgur.com/Zkwj970.png) no-repeat center 10px;
	}
}

@-webkit-keyframes no {
  0% {
    -webkit-transform: scale(1) rotateZ(360deg);
    transform: scale(1) rotateZ(360deg);
    right: 0;
  }
  30% {
    -webkit-transform: scale(1.05) rotateZ(360deg);
    transform: scale(1.05) rotateZ(360deg);
    right: 0;
  }
  100% {
    -webkit-transform: rotateZ(315deg);
    transform: rotateZ(315deg);
    right: 400px;
  } 
}

.animateNo {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: no 0.6s linear;
  animation: no 0.6s linear;
	&:before {
		-webkit-transform: rotateZ(35deg);
	  transform: rotateZ(35deg);  
	  background: url(http://i.imgur.com/XqQZ4KR.png) no-repeat center 10px;
	}
}

/* Global Modals
================ */
#at-symbol-glyph { font-size: 12px; }
.email-hidden { display: none; }
.modal-header { border-bottom: none; padding-bottom: 0;}
.modal-title { font-size: 22px; }
.glyphicon { font-size: 11px; }
.modal-dialog {
	width: 315px;
	margin: 70px auto;
	textarea { resize: none; }
	.modal-content { border-radius: $border-radius; }

	.divider { 
		margin: 5px 0;
		hr { margin-top: -15px; }
		span {
			color: $gray-text-color;
			font-size: 17px;
			display: inline-block; 
			padding: 6px; 
			background-color: white;
		}
	}

	#facebook-img,
	#email-img {		
 			width: 40px; 
			position: absolute;
			z-index: 100; 
			right: 139px; 
	}
	#facebook-img { top: 4px; right: 122px; }
	#email-img { top: 123.5px; }
 	.btn-facebook { 
 		background-color: #3B5998;
 		position: relative;
 		width: 100%; 
 		height: 51px;
 		border-radius: $border-radius;
 	}
 	.btn-email {
 		width: 100%; 
 		height: 51px;
 		background-color: $primary-color;
 		border-radius: $border-radius;
 	}
}