/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-custom";
@import "base";

/* Global Properties
===================== */
*, *:before, *:after { box-sizing: border-box; }

html, 
body, 
.wrapper,
.dash { height: 100%; }

html { font-size: 100%; }

body { 
	background-color: $bg-color; 
	font-family: $base-font-family;
}

.edit { 
	margin-top: 100px;
	float: none;
	
	h1 { 
		text-align: center; 
		margin-bottom: 25px;
	}
}
.matches { margin-top: 50px; }

.btn-fetch-primary { 
	background-color: $primary-color; 
	border: none;
	&:hover { background-color: darken($primary-color, 10%); }
}

#chatIconSVG {
	width: 60px;
	height: 60px;
}
.chatIconBubble {
	fill: $chatIconColor;
}

@media (max-width: 47rem) {
	#chatIconSVG {
		width: 70px;
		height: 70px;
	}
	.chatIconBubble {
		fill: $chatIconColor;
	}
}

@media (min-width: 40rem) {
	html { font-size: 112.5%; }
}
@media (min-width: 60rem) {
	html { font-size: 120%; }
}

/* Global Nav 
=============== */
.navbar { 
	padding-top: 4px;
	padding-bottom: 2px;
	min-height: 55px; 
}
.navbar-default { 
	background-color: $nav-background-color; 
	border-bottom: 1px solid #E9E9E9;

	.nav-logo { width: 27px; }
	.nav-logo-name { width: 77px; }
	.navbar-nav li a { 
		font-size: 15px; 
		color: $gray-text-color;
		transition: color .3s ease;
		&:hover { color: #333; }
	}
	.navbar-brand { padding: 10px 15px; }
}

/* Global Cards
=============== */
.cards { 
	width: 18.7rem;
	height: 25.9375rem;
	min-height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0; 
	right: 0;
	margin: auto;
}

.people {
	position: relative;
	margin: 20px auto;
}
.person {
	position: absolute;
	// if an element is not the first person
	&:not(:nth-child(1)) { 
		pointer-events: none; 
		.controls { display: none; }
	}
	&:nth-child(1) .card { z-index: 5; }
	&:nth-child(2) .card { 
		z-index: 4;
		top: 7px;
		transform: scale(0.98);
	}
	&:nth-child(3) .card {
		z-index: 3;
		top: 14px;
		transform: scale(0.96);
	}
	&:nth-child(n+4) .card {
		z-index: 2;
		transform: scale(.7);
	}
}
.card {
	width: $card-width;
	height: $card-height;
	background: url() no-repeat center center;
	background-size: cover;
	overflow: hidden;
	position: relative;
	background-color: #fff;
	cursor: pointer;
	border-radius: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
	// border: 1px solid  rgba(0,0,0,.2);
	transition: all .1s linear;	
	
	&:before {
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		content: "";
	}
	img {
		width: 105%;
		background-color: white;
	}
	span {
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: white;
		width: 100%;
		padding: 10px;
		font-size: 16px;
		line-height: 30px;
		color: #555;
	}
}
.card-name {
	background-color: #FFF;
	font-size: 22px;
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding: 0.5rem 0.75rem;
	color: rgba(0,0,0,.7);
}

// Card Controls
.controls {
	position: relative;
	margin: 15px auto 0;
	width: 250px;

	.button {
		width: 72px; 
		height: 72px;
		background: #eee;
		position: absolute;
		top: 5px;
		border-radius: 50%;
		box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
		&:hover { 
			transition: all .2s ease;
			transform: scale(1.05);
		}
	}

	.trigger {
		outline: none;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all .05s linear;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer; 
		width: 72px; 
		height: 72px;
		position: absolute;
		border: 5px solid rgba(0,0,0,.05);
		border-radius: 50%;
		background-color: #fff;

	  &:active {
	  	transform: translateY(-50%) scale(0.75);
	  	transition: all .05s linear;
	  }
  	&:before {
	  	position: absolute;
	  	top: 50%;
	  	left: 50%;
	  	transform: translateY(-50%) scale(-50%);
  	}
	}

	.no { left: 38px; }
	.no .trigger { 
		background-size: 93px;
		background-image: url('x.svg'); 
		background-position: -14px -12px;;
	}
	.yes { right: 38px; }
	.yes .trigger { 
		left: 0;
		background-image: url('heart.svg');
		background-repeat: no-repeat;
		background-size: 36px;
		background-position: 14.5px 17px;
	}
}

/* Animations
================ */

@keyframes yes {
  0% {
    transform: scale(1) rotateZ(0deg);
    left: 0;
  }
  30% { 
    transform: scale(1.05) rotateZ(0deg);
    left: 0;
  }
  100% {
    transform: rotateZ(45deg);
    left: 400px;
  }
}

.animateYes {
  animation-fill-mode: both;
  animation: yes 0.6s linear;
	&:before {
	  transform: rotateZ(-35deg);
	  background: url(http://i.imgur.com/Zkwj970.png) no-repeat center 10px;
	}
}

@keyframes no {
  0% {
    transform: scale(1) rotateZ(360deg);
    right: 0;
  }
  30% {
    transform: scale(1.05) rotateZ(360deg);
    right: 0;
  }
  100% {
    transform: rotateZ(315deg);
    right: 400px;
  } 
}

.animateNo {
  animation-fill-mode: both;
  animation: no 0.6s linear;
	&:before {
	  transform: rotateZ(35deg);  
	  background: url(http://i.imgur.com/XqQZ4KR.png) no-repeat center 10px;
	}
}

/* Global Modals
================ */
#at-symbol-glyph { font-size: 12px; }
.email-hidden { display: none; }
.modal-header { border-bottom: none; padding-bottom: 0;}
.modal-title { font-size: 22px; }
.glyphicon { font-size: 11px; }
.modal-dialog {
	width: 315px;
	margin: 70px auto;
	textarea { resize: none; }
	.modal-content { border-radius: $border-radius; }

	.divider { 
		margin: 5px 0;
		hr { margin-top: -15px; }
		span {
			color: $gray-text-color;
			font-size: 17px;
			display: inline-block; 
			padding: 6px; 
			background-color: white;
		}
	}

	#facebook-img,
	#email-img {		
 			width: 40px; 
			position: absolute;
			z-index: 100; 
			right: 139px; 
	}
	#facebook-img { top: 4px; right: 122px; }
	#email-img { top: 123.5px; }
 	.btn-facebook { 
 		background-color: #3B5998;
 		position: relative;
 		width: 100%; 
 		height: 51px;
 		border-radius: $border-radius;
 	}
 	.btn-email {
 		width: 100%; 
 		height: 51px;
 		background-color: $primary-color;
 		border-radius: $border-radius;
 	}
}

/* Form Styles
========================= */
.form_styles { padding: 0 30px; }

/* Media Queries
========================= */
@media (min-width: 40rem) {
	.container-fluid { padding: 0 85px; }
}