// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

.center-block { float:none; }

/* Profile Modal
============== */
.profileModal .modal-dialog { 
	width: 360px; 
	.people { 
		width: 100%; 
		float: none;
	}
	.picture { 
		width: 220px; 
		height: 220px;
		background: url() no-repeat center center;
		background-size: cover;
		margin: 0 auto;
	}
}

/* Conversations
================ */
.conversations {
	border-right: $border-gray;
	max-height: 93vh;
	height: 92vh;
	background-color: #fff;
	overflow: scroll;
	overflow-x: hidden;

	.img-circle {  
		width: 65px;
		height: 65px;
		margin: 9px 15px 8px auto;
	}
	.friend-thumb {
		background: url() no-repeat center center; 
		background-size: cover;
	}
	h3 { 
		color: #D1D1D1; 
		font-weight: $light; 
		margin: 0; 
	}
	.conversations-title { padding: 18px 0; }
	.row {
		cursor: pointer;
		min-height: 80px;
		border-bottom: $border-gray;
		padding: 0 0 0 15px;

		h4 { 
			color: $gray-text-color; 
			margin-bottom: 5px;
		}
		p { 
			color: darken($gray-text-color, 30%);
		  width: 100px;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
			font-size: 13px;
			word-wrap: break-word; 
			transition: color .2s linear;
		}

		&:hover {
			background-color: $gray-object-color;
			p { color: black; }
		}
	}
}
@media (min-width: 40rem) {
	.profileModal .modal-dialog { 
		width: 600px; 
		
		.people { 
			width: inherit; 
			float: left;
		}
		.picture { margin: 0; }
	}
}
@media (max-width: 40rem) {
	.conversations { 	overflow: visible; }
}