// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray-object-color: #f3f3f3;
$gray-text-color: #d1d1d1; 
$border-gray: 1px solid $gray-object-color;

.back-btn { 
	background: url('back.svg') no-repeat;  
	display: inline-block;
	height: 30px;
	padding-left: 17px;
	padding-top: 2px;
	margin: 10px 0 20px 0;
	background-size: 23px;
	background-position-x: -5px;
	font-size: 13px;
	&:hover { text-decoration: none; }
}

.center-block { float:none; }

/* Profile Modal
============== */
.profileModal .modal-dialog { 
	width: 600px; 
	.picture { 
		width: 220px; 
		height: 220px; 
	}
}

/* Conversations
================ */
.conversations {
	.img-circle {  
		width: 50px;
		height: 50px;
		margin: 13px 15px auto auto;
	}
	h3 { color: #D1D1D1; font-weight: 300; }
	.conversations-title { padding: 18px 0; }
	border-right: $border-gray;
	max-height: 93vh;
	height: 92vh;
	background-color: #fff;
	overflow: scroll;
	overflow-x: hidden;
	.row {
		h4 { color: $gray-text-color; }
		p { 
			color: darken($gray-text-color, 30%);
		  width: 100px;
		  white-space: nowrap;
		  overflow: hidden;
		  text-overflow: ellipsis;
			font-size: 13px;
			word-wrap: break-word; 
			-webkit-transition: color .2s linear;
			transition: color .2s linear;
		}
		cursor: pointer;
		min-height: 80px;
		border-bottom: $border-gray;
		padding: 0 0 0 15px;
		&:hover {
			background-color: $gray-object-color;
			p { color: black; }
		}
	}

}

@media (max-width: 40rem) {
	.conversations { 	overflow: visible; }
}