// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'base';

/* Landing Page
================ */
.welcome { margin-top: 0; background-color: $bg-color; }
.tight-container { 
	margin: 0 auto;
	padding: 0 50px;
	width: 90%;
	max-width: 60rem;
	
	textarea { resize: none; }
	.controls { top: 20.35rem; }
	.row { float: none; }
	.cards { 
		margin: auto; 
		right: 0; 
		left: 0; 
		width: 17.7rem;
		height: 14.938rem;
	}
	.signup-button { 
		font-size: 19px;
		height: 55px; 
		font-weight: $regular;
		display: block; 
		border-radius: 8px;
		padding-top: 14px;
		color: $primary-color;
		background-color: $bg-color;
		border: 1px solid $primary-color;
		margin: 10px auto;
		transition: all .5 ease;
		&:hover { 
			background-color: $primary-color; 
			color: white; 
		}
	}
}
.logo-dog,
.logo-name { display: inline-block; }
.logo-dog { 
	max-width: 50px; 
	width: 24%;
}
.logo-name { 
	max-width: 150px; 
	width: 73%;
}
.headline { 
	h2 {
		color: #BDC3C7;
		margin-bottom: 20px;
		display: block; 
		font-weight: $semibold;
		span { font-weight: $bold; }
	}
	margin: 25px 0;
	width: 100%;
	float: none;
}
#welcome-signup-card a { display: block; }

/* Landing Modals
================ */
#at-symbol-glyph { font-size: 12px; }
.email-hidden { display: none; }
.modal-header { border-bottom: none; padding-bottom: 0;}
.modal-title { font-size: 22px; }
.glyphicon { font-size: 11px; }
.modal-dialog {
	width: 315px;
	margin: 70px auto;
	textarea { resize: none; }
	.modal-content { border-radius: $border-radius; }

	.divider { 
		margin: 5px 0;
		hr { margin-top: -15px; }
		span {
			color: $gray-text-color;
			font-size: 17px;
			display: inline-block; 
			padding: 6px; 
			background-color: white;
		}
	}

	#facebook-img,
	#email-img {		
 			width: 40px; 
			position: absolute;
			z-index: 100; 
			right: 139px; 
	}
	#facebook-img { top: 4px; right: 122px; }
	#email-img { top: 123.5px; }
 	.btn-facebook { 
 		background-color: #3B5998;
 		position: relative;
 		width: 100%; 
 		height: 51px;
 		border-radius: $border-radius;
 	}
 	.btn-email {
 		width: 100%; 
 		height: 51px;
 		background-color: $primary-color;
 		border-radius: $border-radius;
 	}
}

/* Media Queries
=================== */
@media (min-width: 40rem) {
	.logo { 
		.logo-dog { max-width: 66px; }
		.logo-name { max-width: 200px; }
	}
}
@media (min-width: 45rem) {
	#welcome-signup-card { padding-right: 2rem;	}
	.welcome { margin-top: 100px; }
	.tight-container {
		.cards {
			left: auto;
			right: auto;
			margin-left: 8.333333%;
		}
		.signup-button { 
			display: block; 
			float: right;
			height: 55px; 
			width: 38%;
			border-radius: 8px;
			padding-top: 14px;
			color: white;
			font-weight: $regular;
			background-color: $primary-color;

			&:nth-child(1) { margin-left: 14px; }
		}
	}
	.headline-logo { float:right; }
	.logo { 
		float: right; 
	
		.logo-dog,
		.logo-name { float: left; }
		.logo-dog { max-width: 92px; }
		.logo-name { 
			max-width: 300px; 
			margin-left: 3%; 
		}
	}
	.headline {
		margin: 25px 0;
		h2 {
			float: right;
			color: #BDC3C7;
			margin-bottom: 20px;
			display: block; 
			font-weight: $semibold;
			span { font-weight: $bold; }
		}
	}
	.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
	.column.full { width: 100%; }
  .column.half { width: 50%; }
}