// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: #55BEFA;

/* Landing Page
================ */
.tight-container { 
	margin: 0 auto;
	padding: 0 50px;
	width: 90%;
	max-width: 48rem;
}
.logo { max-width: 50px; }
.logo-name { max-width: 150px; }
.signup-button { display: none; }
.headline { 
	h2 { display: none; }
	margin: 50px 0;
	width: 100%;
	float: none;
}
.picture-container {
	// width: 100%;
	// margin: 0 auto;
}

@media (min-width: 40rem) {
	.column {
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
	.column.full { width: 100%; }
  .column.half { width: 50%; }
	.logo { max-width: 100px; }
	.logo-name { max-width: 300px; }
	.headline h2 { display: block; }
	.signup-button { height: 49px; display: block; }
}